<div class="remove-container container-block">
  <h2 class="container-block-title">
    Would like to know more about me?
  </h2>
  <ul class="list-unstyled interests-list">
    <li><a target="_blank" href="https://benjipeng.github.io">Visit my Github page</a></li>
     <li><a class="github-button" href="https://github.com/benjipeng/benji-cv" data-icon="octicon-star" data-show-count="true" aria-label="Star benjipeng/benji-cv on GitHub">Star</a>
     <script async defer src="https://buttons.github.io/buttons.js"></script>
  </ul>
</div><!--//About-->